*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body{
	background: #f2f2f2;
	font-family: 'Raleway', sans-serif;
}

nav{
	text-align: right;
	padding: 30px 50px 0;
}

nav > a{
	color: #fff;
	font-weight: 300;
	text-decoration: none;
	margin-right: 10px;
}

nav > a:hover{
	text-decoration: underline;
}

.hero{
	background-image: linear-gradient(120deg, rgba(241, 147, 251, 0.699) 0%, rgba(85, 27, 35, 0.692) 100%), url("../img/ilustracion1.jpg");
	width: 100%;
	height: 650px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed; 
	position: relative;
	overflow: hidden;
}

.textos-hero{
	height: 500px;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.textos-hero h1{
	font-size: 60px;
}

.textos-hero p{
	font-size: 25px;
	margin-bottom: 20px;
}

.textos-hero a{
	display: inline-block;
	text-decoration: none;
	padding: 12px 15px;
	background: #86C5DE;
	border-radius: 8px;
	color: #fff;
}

.svg-hero{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

/*Estilos generales*/

.contenedor,
.wave-contenedor{
	width: 90%;
	max-width: 1000px;
	overflow: hidden;
	margin: auto;
	padding: 0 0 80px 0;
}

.contenedor{
	padding: 20px 80px;
}

.titulo{
	font-weight: 300;
	font-size: 35px;
	text-align: center;
	margin-bottom: 30px;
	color: #008AC5;
}

/* Section */

.container{
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 20px 80px;
	width: 90%;
	margin: auto;
}

.box{
	position: relative;
	width: 300px;
	height: 400px;
	background: #f2f2f2;
	box-shadow: 0 30px 30px rgba(0, 0, 0, .3);
	margin-bottom: 50px; 
}

.box .iniBx{
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: linear-gradient(45deg, #86C5DE 0%, #C8EEFE 60%, #C8EEFE 60%);
	position: absolute;
	transition: 0.8s;
}

.box:hover .iniBx{
	opacity: 0;
}

.box .content{
	position: absolute;
	bottom: 20px;
	left: 10%;
	width: 80%;
	height: 60px;
	background: #86C5DE;
	transition: 0.8s;
	overflow: hidden;
	padding: 15px;
	box-sizing: border-box;

}

.box:hover .content{
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;

}

.box .content h3{
	margin: 0;
	padding: 0;
	font-size: 20px;
	text-align: center;
	color: #008AC5;

}

.box .content p{
	margin: 10px 0 0;
	padding: 0;
	opacity: 0;
	line-height: 1.2em;
	transition: 0.8s;
	text-align: justify;
	color: #f2f2f2;
}

.box:hover .content p{
	opacity: 1;
	transition-delay: 0.8s;
}

.cta{
	display: inline-block;
	text-decoration: none;
	background: linear-gradient(45deg, #86C5DE 0%, #C8EEFE 99%, #C8EEFE 100%); 
	padding: 12px 15px;
	border-radius: 8px;
	color: #fff;
}

/* Cards */
.content-cards{
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card{
	width: 30%;
	text-align: center;
	height: 300px;
	box-shadow: 0 0 3px 0 rgba(0, 0, .5);
	transform: scale(1);
	transition: transform 0.6s;
	margin-bottom: 30px;
}

.card:hover{
	box-shadow: 0 0 6px 0 rgba(0, 0, .5);
	transform: scale(1.03);
	cursor: pointer;
}

.card img{
	width: 100px;
	margin: 30px 0 20px 0;
	color: #86C5DE;
	font-size: 50px;
}

.card p{
	font-weight: 300;
	font-size: 18px;
	margin-bottom: 10px;
}

/* Footer */

footer,
.container-footer{

	background: #86C5DE;
	color: #fff;
	padding: 20px;
	text-align: center;
}
.copyrigth{
	font-size: 20px;
}

#icono{
	padding: 10px;
	text-align: center;
	width: 100px;
	height: 100px;
	max-width: 50%;
	border-radius: 50%;
}

@media screen and (max-width: 800px){
	.textos-hero h1{
		text-align: center;
		font-size: 50px;
	}

/* Estilos generales */
	.titulo{
		font-size: 35px;
	}

	/* Cards */

	.card{
		width: 90%;
		margin-bottom: 20px;
	}

	.container{
	justify-content: center;
}

}

@media screen and (max-width: 844px){
	.container{
	justify-content: center;
}

}

@media screen and (max-width: 400px){
	.titulo,
	.textos-hero h1{
		font-size: 30px;
	}

	.textos-hero p{
		font-size: 20px;
		text-align: center;
	}

	.card{
		height: 380px;
	}

	.container{
	justify-content: center;
}
}